{% extends 'base.html' %}

{% block title %}
Profile
{% endblock title %}

{% block content %}
<div class="container">

    {% if instructor %}

    {% if instructor.profile_image %}
    <img src="{{instructor.profile_image.url}}" alt="" style="width: 300px;height:300px;border-radius:50%;margin-bottom:20px">

    {% endif %}


    <h4>Full Name :{{instructor.full_name}}</h4>
    <h6>Date of Birth : {{instructor.date_of_birth}}</h6>
    <h6>Subject: {{instructor.subject}}</h6>
    <h6>Qualification : {{instructor.qualification}}</h6>
    <h6>Phone Number : {{instructor.phone_no}}</h6>
    <span>Joined At : {{instructor.join_date}}</span>
    {% else %}

    {% if learner.profile_image %}
    <img src="{{learner.profile_image.url}}" alt=""
        style="width: 300px;height:300px;border-radius:50%;margin-bottom:20px">

    {% endif %}
    <h4>Full Name :{{learner.full_name}}</h4>
    <h6>Date of Birth : {{learner.date_of_birth}}</h6>
    <h6>School Name : {{learner.insti_name}}</h6>
    <h6>Class : {{learner.study_in}}</h6>
    <h6>Phone Number : {{learner.phone_no}}</h6>
    <span>Joined At : {{learner.join_date}}</span>

    {% endif %}
    <br><br>
    <a href="{% url 'profile'%}" class="btn btn-primary">Update Profile</a>

</div>

{% endblock content %}